* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  background-color: #f9f9f9;
}
.cover {
  width: 100%;
  height: 200px;
  background-color: antiquewhite;
}
.form {
  margin: 0 auto;
  width: 1000px;
  height: auto;
  margin-top: 25px;
}

.form form {
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px#132358;
}

.form form fieldset {
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
}

.form form fieldset legend {
  padding: 3px 12px;
  width: 100%;
  text-align: center;
  color: white;
  background-color: #461358d3;
  font-weight: 600;
}

span.add {
  display: inline-block;
  width: auto;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  margin: 10px 5px;
  line-height: 20px;
  background-color: #132358;
}
span.remove:before {
  content: "X";
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  cursor: pointer;
  padding: 3px 2px;
  text-align: center;
  background-color: rgb(193, 2, 2);
  color: #fff;
  border-radius: 2px;
}
form > button {
  width: 40%;
  height: 35px;
  border-radius: 5px;
  background-color: #132358;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}

form .row {
  box-shadow: 0px 0px 2px;
  border-radius: 5px;
  margin: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
}

form .row label {
  width: 120px;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  color: #132358;
}
form .row input,
form .row select {
  width: 100%;
  display: inline-block;
  height: 20px;
  outline: none;
  padding: 16px 6px;
  border: none;
  /* border-bottom: 1px solid red; */
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
}

form .row select {
  display: inline-block;
  background-color: #461358d3;
  width: 100%;
  height: auto;
  color: #fff;
  width: 120px;
}
.code {
  min-width: 60px;
  max-width: 60px;
  width: 60px;
}

.form form .double {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.form form .double fieldset {
  min-width: 48%;
}
.form form .double fieldset.uploads {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  min-height: 90px;
}

.form form .double .uploads .row {
  width: 50%;
  padding: 15px;
  margin: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.double .uploads .row input {
  display: none;
}
.double .uploads .row label {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0px;
  border-radius: 50%;
  overflow: hidden;
}
.double .uploads .row label div {
  width: 100%;
  height: 100%;
}
.double .uploads .row label div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0px 0px 2px;
}

.row.birth input {
  width: 60px;
  box-shadow: 0px 0px 2px;
  padding: 4px 16px;
  margin: 5px;
  border-radius: 1px;
  text-align: center;
}
.row.birth input::-webkit-inner-spin-button {
  display: none;
}
.row textarea {
  width: 100%;
  resize: none;
  outline: none;
}
